
<form class="sign-up">
    <div class="form-style">
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div class="form-style">
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div class="form-style">
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <input type="submit" value="Sign Up">
    </div>
</form>

<script src="/javascript/login.js"></script>