<div>
    <h1>Upload</h1>
    <form onsubmit="">
        <input type="file" name="image" onChange={handleFileInputChange} value={fileInputState} class="">
        <button class="" type="button">Submit</button>
    </form>
</div>